.modal_invisible {
  opacity: 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.label {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.label p {
  flex-shrink: 0;
}

.input_text {
  width: 100%;
}

.input_incorrect {
  background-color: var(--lightRed);
}

.text_incorrect {
  color: var(--lightRed);
}

.call_me {
  display: grid;
}
